@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Serif", serif;
  font-weight: 700;
  text-align: center;
  color: #3c3c3c;
}
.game-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fffdf8;
}
.game {
  width: 1000px;
  height: 560px;
  display: flex;
  position: relative;
}

.round-result-panel {
  background: #fffdf8;
  width: 26%;
  height: 105px;
  position: absolute;
  left: 37%;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.15);
  font-size: 36px;
  margin: 50px 0 0 0;
}

.round-message {
  margin: 15px 0 15px 0;
  font-size: 16px;
  color: #527690;
}

#round-result {
  margin: 10px 0;
  font-size: 24px;
}

.new-game-panel {
  width: 16%;
  position: absolute;
  left: 42%;
  top: 80%;
  right: 0;
  bottom: 0;
}

#new-game-btn {
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #3c3c3c;
  background: #fffdf8;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.15);
  transition-duration: 0.3s;
  cursor: pointer;
}

#new-game-btn:hover {
  transform: scale(1.1);
}

.player-panel,
.computer-panel {
  flex: 1;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.15);
}

.player-panel {
  background: #edeee9;
}

.computer-panel {
  background: #cddce1;
}

.name {
  font-size: 36px;
  margin: 40px 0 20px 0;
  font-weight: 400;
}

.score {
  font-size: 54px;
  color: #527690;
  line-height: 1;
  margin: 20px 0 0 0;
}

.choice {
  height: 150px;
  margin: 50px 0 0 0;
}

#player-choice {
  transform: rotate(90deg);
}

#computer-choice {
  transform: rotate(-90deg);
}
.player-options {
  margin: 50px 0 0 0;
}
.option {
  width: 50px;
  margin: 0 20px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.option:hover {
  transform: scale(1.1);
}
